@model Lab_TW.Models.LoginData

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <!-- Left Content -->
        </div>
        <div class="col-lg-6">
            <div class="login_form_inner">
                <h3>Forgot Your Password?</h3>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login_form", id = "forgotPasswordForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-12 form-group">
                        <p>Enter your email address and we'll send you a link to reset your password.</p>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" class="button button-login w-100">Reset Password</button>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                }
            </div>
        </div>
    </div>
</div>
