@model List<Lab_TW.Models.Product>

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_LayoutAddProduct.cshtml";
}

<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <h1>Форма добавления товара</h1>

    @using (Html.BeginForm("AddProducts", "Product", FormMethod.Post, new { enctype = "multipart/form-data", id = "product-form" }))
    {
        <div id="products-container">
            @if (Model != null && Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-group product-row">
                        <label>Название товара:</label>
                        @Html.TextBoxFor(model => model[i].Name, new { @class = "form-control productName", placeholder = "Введите название товара", required = "required" })
                        <label>Цена товара:</label>
                        @Html.TextBoxFor(model => model[i].Price, new { type = "number", @class = "form-control productPrice", required = "required" })
                        <label>Описание товара:</label>
                        @Html.TextBoxFor(model => model[i].Description, new { @class = "form-control productDescription", required = "required" })
                    </div>
                }
            }
        </div>

        <button type="button" id="add-product-row" class="btn btn-default">Добавить еще товар</button>
        <input type="submit" value="Добавить товары" class="btn btn-primary">
    }

    <script>
        $(document).ready(function () {
            var productIndex = @Model.Count;

            $('#add-product-row').click(function () {
                var newProductRow = $('.product-row:first').clone();
                newProductRow.find(':input').each(function () {
                    var name = $(this).attr('name').replace(/\[\d+\]/, '[' + productIndex + ']');
                    $(this).attr('name', name).val('');
                });

                $('#products-container').append(newProductRow);
                productIndex++;
            });
        });
    </script>
</body>
